.post-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    form{
        display: flex;
        flex-direction: column;
        
        label{
            margin: 3em 0 1em 0;
            font-weight: 600;
            font-size: 16px;
            color: #48535B;
        }

        input{
            word-wrap: break-word;
        }

        .button-label{
            background-color: black;
            color: #FFFFFF;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
                -webkit-box-orient: vertical;
            }
        }

        button{
            margin: 1em 0;
            padding: 1em;
            border-radius: 2em;
            width: fit-content;
            align-self: center;
        }
    }
}

@media screen and (min-width: 768px){
    .post-container{
        form{
            width: 60%;
        }
    }
}
