.auth-button-container{
    img{
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .auth-dropdown-triangle{
        scale: 1.3;
        color: lightgray;
        margin-left: 14px;
    }
}