.auth-button-container{
    grid-column: 2/3;
    grid-row: 2/-1;
    justify-self: end;
    img{
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .auth-dropdown-triangle{
        position: absolute;
        scale: 1.3;
        color: lightgray;
        margin-left: 14px;
    }
}

@media screen and (max-screen: 1000) {
    .auth-button-container{
       
    }
}