.div{
    height: 100vh;

    .wrongPage{
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .errorImg{
            width: 100px;
        }
    }
}